# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Check systems capacity

on:
  push:
    branches: [ 0.1.1-dh]
  pull_request:
    branches: [ 0.1.1-dh ]

jobs:
  build:

    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [windows-latest,macos-latest,ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run PyTest
      run: |
        python -m pytest tests/test_solver.py